In [1]:
import pandas as pd
import numpy as np
from pandasql import *
import duckdb

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
duck_query = lambda q: duckdb.query(q)
pysqldf = lambda q: sqldf(q,globals())

## ----------------------------- Clase 4: Ejercicio -----------------------------

#### **Cafetería Peet's Coffee** 
Usted ha sido contratado por una cafetería que cuenta con tiendas en NY, USA. Algunos de sus productos inlcuyen bebidas de café y té, pastelería, entre otros.

Actualmente la cafetería no cuenta con reportería interna por lo que le han solicitado generar un reporte diario de las distintas ordenes vendidas.

Para ello, usted deberá de crear una única tabla que corra todos los días para que el reporte se actualize automáticamente. Este reporte deberá de llevar la siguiente información:
* Fecha
* Punto de venta
* Categoría
* Cantidad de ordenes
* Venta total (monto)


#### **Instrucciones:**
1. Genere una tabla con la información requerida que incluya los meses de Enero hasta Mayo 2023.
2. Genere un query que elimine los últimos 10 días e inserte los registros hasta la fecha.
3. Corra el query #2 las veces que sean necesarias para que toda la información se encuentre dentro del reporte.
4. Valide que el reporte cuente con todas las fechas de la tabla original. (funciones MIN(), MAX())

In [46]:
df = pd.read_csv("Coffee_Sales_Orders_Peets.csv")

In [47]:
df.head()

,transaction_id,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,order_id,transaction_dt,transaction_ts
0,1,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg,613141,2023-01-01,2023-01-01 07:06:11
1,2,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,168935,2023-01-01,2023-01-01 07:08:56
2,3,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,301867,2023-01-01,2023-01-01 07:14:04
3,4,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm,593276,2023-01-01,2023-01-01 07:20:24
4,5,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,654074,2023-01-01,2023-01-01 07:22:41

In [49]:
duck_query(
    """
    CREATE OR REPLACE TABLE coffee_sales_orders AS
    SELECT 
        * EXCLUDE(transaction_dt, transaction_ts)
        ,CAST(transaction_dt AS DATE) transaction_dt
        ,CAST(transaction_ts AS DATETIME) transaction_ts
    FROM df
    """
)

In [51]:
duck_query(
    """
    SELECT *
    FROM coffee_sales_orders
    LIMIT 2
    """
)

┌────────────────┬─────────────────┬──────────┬─────────────────┬───┬──────────┬────────────────┬─────────────────────┐
│ transaction_id │ transaction_qty │ store_id │ store_location  │ … │ order_id │ transaction_dt │   transaction_ts    │
│     int64      │      int64      │  int64   │     varchar     │   │  int64   │      date      │      timestamp      │
├────────────────┼─────────────────┼──────────┼─────────────────┼───┼──────────┼────────────────┼─────────────────────┤
│              1 │               2 │        5 │ Lower Manhattan │ … │   613141 │ 2023-01-01     │ 2023-01-01 07:06:11 │
│              2 │               2 │        5 │ Lower Manhattan │ … │   168935 │ 2023-01-01     │ 2023-01-01 07:08:56 │
├────────────────┴─────────────────┴──────────┴─────────────────┴───┴──────────┴────────────────┴─────────────────────┤
│ 2 rows                                                                                         12 columns (7 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘